.inner {
  /* height: 56px; */
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.link {
  display: block;
  line-height: 1;
  padding: 8px 12px;
  border-radius: var(--mantine-radius-sm);
  text-decoration: none;
  color: darken(var(--mantine-color-Color2-filled), 70%);
  font-size: var(--mantine-font-size-md);
  font-weight: 500;
  transition: all 0.3s;

  @mixin hover {
    background-color: darken(var(--mantine-color-Color1-filled), 10%);
  }

  [data-mantine-color-scheme] &[data-active] {
    background-color: var(--mantine-color-Color4-filled);
    color: var(--mantine-color-white);
  }
}
